@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <p>Graph application client credentials flow using managed identities for Azure resources </p>
    <br />
    <p>
        <b>@Model.UsersCount</b> users found using Graph with <b>User.Read.All</b> application permissions
    </p>
</div>
